* {
    font-family: "Cascadia Code";
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0%;
    background-color: #F1E4B8;
    flex-wrap: nowrap;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    padding: 2%;
    border: 2%;
    background-color:#F1E4B8;
    align-items: center;
}


.flex-item1 {
    background-color: #F1E4B8;
    text-align: left;
    border: 2%;
    padding: 1%;
    margin: 1%;
    font-size: larger;
    flex-basis: 46%;
    justify-items: left;
    line-height: 1.8;
    justify-content: space-around;
}

.flex-item2 {
    background-color: #E1E1E1;
    text-align: center;
    border: 1%;
    padding: 1%;
    margin: 1%;
    font-size: small;
    flex-grow: 1;
    justify-items: center;
}

.flex-item3 {
    flex-grow: 10;
}

.table {
    width: 100%;
    border-collapse: collapse;

}

.tablecenter {
    margin-left: auto;
    margin-right: auto;
}

tr,
th {
    border: 1%;
    padding: 1%;
    text-align: center;
    font-size: medium;
    width: 20%;
    text-wrap: nowrap;
    height: 10%;

}

.table2 {
    width: 80%;
    border-collapse: collapse;
}

th:hover {
    background-color: #eae1f5;
}

.navbar {
    padding: 1%;
    margin: 1%;

}

a {
    text-decoration: none;
}

p {
    padding: 5%;
}

.p1 {
    margin: 3%;
}

h4 {
    text-align: center;
    background-color: #eae1f5;
    padding: 1%;

}

h5 {
    font-size: medium;
    margin-bottom: 5%;
    background-color: #eae1f5;
    padding: 1%;
}

footer {
    margin: 2%;
    padding: 1%;
    background-color: #E1E1E1;
    font-size: small;
}

.button {
    font-size: small;
}

form {
    font-size: medium;
    
}

textarea {
    margin-left: 10%;
    margin-top: 5%;
    padding: 5%;
    background-color: #F1E4B8;
    border: none;
    border-bottom: solid black;
    text-align: center;
    width: 74%;
}

input {
    margin-left: 2%;
    padding: 0%;
    background-color: #E1E1E1;
    border: none;
    border-bottom: solid black;
    font-size: smaller;
}

.input1 {
    margin-left: 10%;
    padding: 2%;
    background-color: #F1E4B8;
    border: none;
    border-bottom: solid black;
}

.input2 {
   background-color: #F1E4B8;
   border: none;
    border-bottom: solid black;
    padding: 2%;
}

.button2 {
    background-color: #F1E4B8;
    width: 60%;
    margin-top: 2%;
    margin-left: 17%;
    padding: 1%;

}

section {
    text-align: center;
    
    margin-bottom: 5%;
}
